.head{
    display: flex;
      /* display: grid; */
        /* padding: 20px; */
        width: 1535px;
        height: 250px;
        background: linear-gradient(to right,#5c6bc0,#512da8);
        border-bottom-left-radius:9svw;
        /* border-bottom-right-radius:9svw; */
        border-block-end-style:groove;
        align-items: center;
        justify-content: center;
        box-shadow: 0 5px 5px rgb(145, 142, 142);
        margin-top: 130px;
        
  }
  .shape-outer {
    /* display: flex; */
    /* flex-shrink: 0; */
    height: calc(150px + 4vw);
    width: calc(150px + 4vw);
    /* margin: 25px; */
    /* background-image: linear-gradient(to bottom right, #6552f5, #562b7c, #2b86c5); */
  }
  
  .shape-inner {	
    height: calc(130px + 4vw);
    width: calc(130px + 4vw);
    background-size: cover;
    /* margin: auto; */
  }
  .ellipse{
    -webkit-clip-path: ellipse(50% 35% at 50% 50%);
        clip-path: ellipse(50% 35% at 20% 20%);
      
        margin-bottom: 2svw;
          width: 20svw; 
          background-image: linear-gradient(to bottom right, #6552f5, #562b7c, #2b86c5);
  }
  .circle1{
    -webkit-clip-path: ellipse(50% 35% at 50% 50%);
        clip-path: ellipse(20% 20% at 50% 60%);
        margin-right: 5svw;
        margin-bottom: 10svw;
          /* width: 50svw;  */
          background-image: linear-gradient(to bottom right, #6552f5, #562b7c, #5647b8);
  } 
  .circle2{
    -webkit-clip-path: ellipse(50% 35% at 50% 50%);
        clip-path: ellipse(30% 50% at 50% 90%);
        margin-right: 10svw;
        margin-top: 1.8svw;
        background-image: linear-gradient(to bottom right, #6552f5, #562b7c, #5647b8);
  }  
  .circle3{
    -webkit-clip-path: ellipse(30% 20% at 50% 50%);
        clip-path: ellipse(30% 20% at 30% 20%);
        margin-right: 10svw;
        margin-top: 8svw;
        background-image: linear-gradient(to bottom right, #6552f5, #562b7c, #2b86c5);
  }    
  .circle4{
    -webkit-clip-path: ellipse(50% 35% at 50% 50%);
        clip-path: ellipse(50% 60% at 60% 10%);
        margin-right: 0px;
        margin-bottom: 2svw;
        background-image: linear-gradient(to bottom right, #6552f5, #562b7c, #5647b8);
  } 
  
  .container{
    background-color: rgb(234, 238, 255);
  }
  .input-button-container {
   
    flex-direction: column;
    text-align: center;
    position: relative; 
  }
  
  .hover-toggle .component {
    display: none;
    position: absolute;
    top: calc(100% + 10px); /* Changed */
    left: 50%; /* Changed */
    transform: translateX(-50%); /* Changed */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .hover-toggle:hover .component {
    display: block;
    background-color: #0056b3;
  }
  
  .component {
  
    margin: 0% 19% ;
    padding: 20px 20px 0px 200px ;
    border: 6px solid #acaed0;
    border-radius: 5px;
    /* width: 70%; */
    flex-direction: column;
    /* text-align: center; */
    
  }
  
  .input-field {
    margin-bottom: 10px;
    /* margin: 10px 10px 10px 10px; */
    padding: 10px;
    font-size: 16px;
    width: 90%;
    border: 2px solid #acaed0;
    border-radius: 5px;
    outline: none;
    display: flex;
    background-color: #ffffff;
  }
  
  #OQ{
    margin: 90px 10px 20px 10px;
    padding: 20px;
    width: 62%;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, #a297f5, #514cdd, #7361e3);
    color: white;
    cursor: pointer;
  }
  #IQ{
    margin: 10px 10px 20px 10px;
    padding: 20px;
    width: 62%;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, #a297f5, #514cdd, #7361e3);
    color: white;
    cursor: pointer;
  }
  
  #AI{
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, #6552f5, #1903aa);
    color: #fff;
    cursor: pointer;
    margin: 10px 10px 10px 10px;
  }
  #AI:hover {
    background-image: linear-gradient(to bottom right, #03178a, #00158a);
  }
  #SB{
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin: 10px 10px 10px 10px;
  }
  #SB:hover {
    background-color: #0056b3;
  }
  
  .Questions_no{
    border: #acaed0 solid 10px;
    padding: 15px;
    margin: 0% 19% ;
    text-align: left;
    border-radius: 5px;
    font-size: 16px;
  }