/* .charts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.chart-item {
    width:fit-content;
    background-color: #f3f4f6;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
} */
.chart-item{
    background-color: white;
}
.heading-home{
    color:#24a;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    font-style: italic;
}
