.questhead {
  margin-top: 160px;
  height: 250px;
  background: linear-gradient(to bottom, #5c6bc0, #512da8);
  padding-left: 80px;
  padding-top: 25px;
}

.questhead h1 {
  font-size: 44px;
  font-weight: 700;
  color: #f0f0f0;
}

.questhead p {
  color: rgb(200, 200, 200);
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  margin-left: 40px;
  line-height: 1.5;
  max-width: 950px;
}

.questhead .section_buttons {
  display: inline-block;
  justify-content: space-between;
  list-style: none;
  margin-left: 18px;
}

.questhead .section_buttons .sb{
  background: linear-gradient(to bottom, #5c6bc0, #512da8);
  color: #fff;
  font-size: 20px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 35px 80px;
  cursor: pointer;
}

.questhead .section_buttons .sb:hover{
  border: 1px solid white;
}

.section-overview {
  margin-bottom: 20px;
  height: 200px;
  background-color: #f0f0f0;
}

.section-overview .over-container{
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
}

.item {
  background-color: rgb(203, 215, 232);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.number {
  font-size: 26px;
  font-weight: 800;
}

.label {
  font-size: 18px;
  color: #666;
}

.section-questions {
  margin-top: 45px;
}

.section-questions h2 {
  padding: 20px 160px;
  font-size: 45px;
  font-weight: 600;
}

.questions-container {
  width: 80%;
  margin: auto;
}

.topics-container {
  margin-top: 20px;
  border-radius: 8px;
}

.topic {
  border: 1px solid #fff;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.topic-header {
  height: 70px;
  font-size: 18px;
  font-weight: 600;
  background-color: #fff;
  padding: 15px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 8px;
  /* Added border radius */
  border-top-left-radius: 8px;
  /* Added border radius */
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.questions-list {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
}

.question {
  border-top: 1px solid #ddd;
  padding: 15px 20px;
}

.topic-header .chevron {
  color: #666;
  transition: transform 0.3s ease-in-out;
}

.topic-header .chevron.rotated {
  transform: rotate(180deg);
}

.section-puzzles {
  top: 0;
}

.section-puzzles h2 {
  padding: 20px 160px;
  font-size: 45px;
  font-weight: 600;
}

.puzzle-container {
  width: 80%;
  margin: auto;
}

.puzzles-container {
  margin-top: 20px;
  border-radius: 8px;
}

.puzzle {
  border: 1px solid #fff;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.puzzle-header {
  height: 70px;
  font-size: 18px;
  font-weight: 600;
  background-color: #fff;
  padding: 15px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 8px;
  /* Added border radius */
  border-top-left-radius: 8px;
  /* Added border radius */
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.puzzle-answer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
}

.solution {
  border-top: 1px solid #ddd;
  padding: 15px 20px;
}

.puzzle-header .chevron {
  color: #666;
  transition: transform 0.3s ease-in-out;
}

.puzzle-header .chevron.chevron.rotated {
  transform: rotate(180deg);
}

.puzzle-content.active {
  display: block;
  /* Display the content when active */
}

/* Styling for the chevron icon */
.fa-chevron-down {
  transition: transform 0.3s ease;
}

.fa-chevron-up {
  transform: rotate(180deg);
}

.section-experiences {
  padding-bottom: 40px;
  background-color: rgb(234, 238, 255);
  height: auto;
}

.section-experiences h2 {
  margin: 20px;
  padding: 20px 160px;
  font-size: 45px;
  font-weight: 600;
}

.experience-container {
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Hide vertical scrollbar */
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 40px; /* Add padding to avoid clipping */
}

.experience-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

.experience-container > * {
  flex: 0 0 auto; /* Ensure cards do not shrink */
}
