.prof-container {
    /* height: 100%;
     display: grid;
    background-color: rgb(198, 227, 246); */
    display: flex;
    /* display: grid; */
      padding: 20px;
      width: 100%;
      height: 400px;
      background: linear-gradient(to bottom,#5c6bc0,#512da8);
      border-bottom-left-radius:15svw;
      align-items: center;
      justify-content: center;
      box-shadow: 0 5px 5px rgb(183, 181, 181);
      margin-top: 80px;
  }
  
 .App {
    background-color: white;
    padding: 2em 1em;
    /* margin: ; */
    height: 350px;
    margin-top: 170px;
    width: 400px;
    border-radius: 1em;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.205);
  }
  .AppInfo {
    background-color: rgb(250, 250, 250);
    padding: 0em 0em;
    /* margin:auto; */
    height: 400px;
    margin-top: 170px;
    margin-left: 3%;
    width: 900px;
    border-radius: 1em;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.205);
  }
   
  .Permanent_Info{
    text-align: center;
  }

  .registration_Id{
    color: #605f61;
  }
  .gmail_Id{
    color: rgb(128, 123, 123);
  }
  .phone_no{
    color: rgb(128, 123, 123);
  }