.login-body {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 87vh;
}

.log-container{
  background-color: #fff;
  border-radius: 15x;
  box-shadow: 0 5px 10px rgb(155, 154, 154);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 450px;
}

.form-container {
  left: 0;
  background-color: #fff;
  padding: 30px;
  width:  50%;
  max-width: 500px;
}

.log-container h3 {
  color: #512da8;
  font-size: 24px;
  text-decoration: underline;
  margin: 40px 0px; /* Increase margin */
  text-align: center;
}

.log-container form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.log-container input {
  background-color: #eee;
  border: none;
  margin: 10px 0;
  padding: 10px 15px; /* Increase padding */
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Adjust margin to move the button upwards */
}

.btn-container .btn {
  background: linear-gradient(to bottom, #5c6bc0, #512da8);
  padding: 10px 25px;
  margin: 10px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 8px;
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
}

.btn-container .btn:hover{
  border: 1px solid black;
  font-size: 15px;
}

.logcard{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
  background: linear-gradient(to top, #5c6bc0, #512da8);
  box-shadow: 0 5px 5px #512da8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logcard h1{
  color: #fff;
  font-size: 20px;
text-align: center;
margin: 0;
padding: 10px;
}
.logcard p {
color: #fff;
text-align: center;
margin: 0;
padding: 10px;
}