* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background_container {
  position: relative;
}

.background_image {
  width: 100%;
  height: 150px;
}

.img_overlay {
  position: absolute;
  top: 15%;
  left: 190px;
  width: 220px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid white;
  background-color: rgba(227, 222, 215, 0.9);
  z-index: 1;
}

.prof_container {
  margin: 0;
  padding: 0px 50px;
  height: 1050px;
  background-color: #d9d4d4;
  display: flex;
  gap: 30px;
}

.prof_container .profile_info {
  display: block;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 1050px;
  width: 500px;
  background-color: #5c6bc5;
}

.prof_container .placement_info {
  margin-top: 30px;
  height: 990px;
  width: 920px;
  background-color: rgb(192, 205, 215);
}

.prof_container .profile_info .resume {
  margin-top: 12px;
  margin-left: 180px;
  background: linear-gradient(to top, rgb(200, 200, 200), #fff);
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 8px;
  border: 1px solid transparent;
  color: black;
  cursor: pointer;
}