.nav1-container{
    width: 100%;
    background: linear-gradient(to bottom,#5c6bc0,#512da8);
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 50;
}

.logo{
    margin-left: 20px;
    width: 80px;
}

.nav1-container ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}

.nav1-container ul li:hover{
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}



