div.container {
  /* height: 100%;
   display: grid;
  background-color: rgb(198, 227, 246); */
  /* display: flex; */
  /* display: grid; */
    padding: 20px;
    width: 100%;
    height: 350px;
    background: linear-gradient(to right,#5c6bc0,#512da8);
    border-bottom-left-radius:15svw;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 5px rgb(145, 142, 142);
}

div.App {
  background-color: white;
  padding: 2em 1em;
  /* margin: ; */
  height: 400px;
  margin: 150px 150px ;
  width: 400px;
  border-radius: 1em;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.205);
}

div.group {
  vertical-align: middle;
  margin: 0.5em;
  height: 32px;
}

div.birthday {
  font-size: x-large;
  margin: 0.6em;
}

div.color-box {
  position: relative;
  top: 6px;
  display: inline-block;
  width: 50px;
  height: 20px;
  border: 1px solid darkgray;
}

label {
  margin: 0px;
}

h1 {
  font-size: large;
  margin: 0em 0.8em;
}

h2 {
  display: inline;
  font-weight: bold;
  font-size: medium;
  margin: inherit;
}

input[type="color"] {
  position: relative;
  top: 4px;
}

button {
  border: 1px solid darkgray;
  background-color: gray;
  border-radius: 4px;
  height: 30px;
  padding: 0px 1.25em;
  margin: 1em 0.5em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.205);
}

button:hover {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.356);
}