/* /* .card {
  display: flex;
  max-width: 90rem;
  margin: 1rem auto;
  border-radius: 0.5rem solid #999;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 160rem; 
  min-height: 30rem;
  max-height:30rem;
}

.card-image {
  flex: 2;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  flex: 3;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.card-body h6 {
  color: gray;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.card-body h4 {
  color: #374151;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.card-body p {
  color: #6b7280;
  border-bottom: 1px solid #d1d5db;
  margin-bottom: 1rem;
  cursor: pointer;
}

.card-body p:hover {
  font-size: large;
  font-weight: bold;
  color: #24a;
}

.announcement-section {
  max-height: 30rem;
  overflow-y: auto;
  flex: 1; 
  padding-bottom: 0.5rem; 
}

.announcement-section p {
  margin-bottom: 0.5rem; 
} */
/* CSS for Slideshow */
/* .slideshow-container {
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.mySlides {
  display: none;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
} */
/* CSS for Slideshow */
.slideshow-container {
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.mySlides {
  position: absolute;
  display: none;
  transition: opacity 1s ease-in-out;
}

.mySlides.fade {
  opacity: 1;
}

/* Fading animation */
@keyframes fade {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}