body {
    font-family: Arial, sans-serif;
  }
  /* StudentList.css */
  
  .mentor-list {
    max-width: 600px;
    /* margin: 80px; */
    padding: 20px;
  }
  
  .mentor-list h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .mentor-list thead {
    text-align: center;
    /* margin-bottom: 20px; */
    padding: 5px;
  }
  .mentor-list td {
    list-style-type: none;
    padding: 15px;
    margin: 50px 50px;
  }
  
  .mentor-list tr {
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px 50px;
    background-color: #f0f0f0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .mentor-list tr:hover {
    background-color: #e0e0e0;
  }
  
  .name{
    color: rgb(0, 0, 0);
    text-decoration: none;
  }